body {
    background-color: rgb(169, 195, 21);
    text-align: center;
}


hr {
    width: 500px;
}

#errors {
    color: rgb(250, 4, 4);
}

#board {
    width: 450px;
    height: 450px;
    margin: 2px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile {
    width: 48px;
    height: 50px;
    background-color: bisque;
    border: 1px solid rgb(22, 40, 69);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.number {
    width: 29px;
    height: 29px;
    background-color: rgb(155, 172, 187);
    border: 1.5px solid rgb(9, 9, 9);
    margin: 4px;
    padding: 5px;

    /* Text */
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: rgb(5, 235, 135);
    color: white;
    z-index: 1;
}

.tile-start {
    background-color: rgb(97, 216, 11);
}

.horizontal-line {
    border-bottom: 1.5px solid black;
}

.vertical-line {
    border-right: 1.5px solid black;
}
